<div class="layui-header">
    <div class="layui-logo"><a href="{:url('index/index')}" style="color: green; font-weight: bold;">地摊项目网后台</a></div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a href="">控制台</a></li>
        <li class="layui-nav-item"><a href="{:url('goods/index')}">商品管理</a></li>
        <li class="layui-nav-item"><a href="">用户</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">其它系统</a>
            <dl class="layui-nav-child">
                <dd><a href="">邮件管理</a></dd>
                <dd><a href="">消息管理</a></dd>
                <dd><a href="">授权管理</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="{:url('index/index/index')}">网站首页</a></li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                {$account.username}
            </a>
            <dl class="layui-nav-child">
                <dd><a href="">基本资料</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="{:url('Login/logout')}">退了</a></li>
    </ul>
</div>