<style>
    h1 {
        margin-top: 0;
    }
</style>
<div style="padding-top: 40px;">
    <div class="container-fluid">
        <!--<div class="row">
            <div class="col-md-12">
                {include file="common/coupon"}
            </div>
        </div>-->
        <div class="row">
            <div class="col-md-9">
                <h1>关于我们</h1>
                <hr>
                <div>
                    <h3>企业介绍：</h3>
                    <p>义乌市千萍电子商务商行成立于2010年，公司主营日用百货、地摊新奇特等产品。旗下网站：地摊项目网 常年致力于地摊小本模式的开发。</p>
                    <h3>联系方式:</h3>
                    <p>电话: 18867569227<br>联系地址:浙江省金华市义乌市江东街道东房新村4幢3单元</p>
                    <img src="/static/home/img/gif.gif" alt="" /> <br>
                </div>
            </div>
            <div class="col-md-3">
                {include file="public/side"}
            </div>
        </div>
    </div>
</div>