<style>
    h1 {
        margin-top: 0;
    }
</style>
<div style="padding-top: 40px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {include file="common/coupon"}
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <h1>关于我们</h1>
                <hr>
                <div>
                    <p>千萍摆地摊新奇特</p>
                    <p>义乌市千萍电子商务商行</p>
                    <img src="/static/home/img/gif.gif" alt="" /> <br>
                </div>
            </div>
            <div class="col-md-3">
                {include file="public/side"}
            </div>
        </div>
    </div>
</div>