<style>
    h1 {
        margin-top: 0;
    }
    .full_article img{
        /*max-width: 870px;*/
        width: 100%;
        display: block;
    }
</style>
<div style="padding-top: 40px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {include file="common/coupon"}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h1>{$goods->goods_name}</h1>
                <p>发布时间：{$goods->create_time} &nbsp; | &nbsp; 浏览次数：{$goods->view_count}</p>
                <hr>
                <div style="padding: 15px; text-align: center; border: 1px dotted #cccccc; color: red; font-size: 16px; margin-bottom: 15px;">
                    <p style="margin-bottom: 0;">抢货热线：150 5791 1556</p>
                </div>
                <div class="full_article">
                    {$goods['detail']['content']}
                </div>
                <div style="border: 1px solid yellow; padding: 20px; background-color: yellow; text-align: center;">
                    <p style="font-size: 50px; color: red; margin-bottom: 0;">抢货热线：150 5791 1556</p>
                </div>
            </div>
            <div class="col-md-4">
                {include file="public/side"}
            </div>
        </div>
    </div>
</div>