<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{$title}</title>
    <link href="/static/home/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/home/css/site.min.css" rel="stylesheet">
    <link href="/static/home/css/custom.css" rel="stylesheet">
    <script src="/static/home/js/jquery.min.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{include file="common/topnav" /}

{__CONTENT__}

{include file="common/footer" /}
{if condition="session('ip')"}
<div style="text-align: center;"><a href="{:url('Index/Index/logout')}">退出登录</a></div>
{/if}
<script src="/static/home/js/bootstrap.min.js"></script>
<script src="/static/home/js/common.js"></script>
</body>
</html>