{layout name="ad_layout" /}
{__NOLAYOUT__}
<style>
    h2 {
        color: red;
        text-align: center;
        font-weight: bold;
        font-family: "黑体";
        font-size: 36px;
    }
</style>
<div class="container">
    <div class="page-header">
        <h1>海澜之家剪标羽绒服</h1>
        <p class="lead">实现日赚数千元的冬季热销产品</p>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>打工不如自己创业，守着几千块的工资过日子在现今的社会过得可以说狗都不如！本公司常年研发和销售地摊产品，客户遍布大江南北。年赚10W以上的比比皆是，经验丰富的老手年入几十万也不再是梦想。</p>

            <p>海澜之家剪标羽绒服全国试地销售成功，火爆现场席卷了一个个会场、集市。为何会卖的如此火爆、因为他是海澜之家一线品牌服饰。</p>

            <h2>什么是剪标?</h2>

            <p>一般品牌工厂家根据直营店店长、专卖店店长、代理商开订货会订款，然后品牌商集中这些款以及量下单去生产，但是都会留出一定的空间，比如实际需要1万，会下1万二到一万五的单子 ，因为有些买的好的店中期还要补货补款的，所以品牌商当初就考虑进去，一起生产了。所以说那么多，尾单的由来就是：多生产出来的一部分加上直营店、专卖店、代理商一定的返货比率货。所以这些货到第二年品牌商就需要特殊的渠道特殊的处理掉，以免占用仓库位置，再一个可以回笼一些资金，采购面辅料，工人工资发放等。再说一点：品牌商销售尾单要剪标，是为了保护原品牌专柜的利益。</p>
        </div>
        <div class="col-lg-12" style="text-align: center;">
            <h2>客户销售视频</h2>
            <video src="https://cloud.video.taobao.com/play/u/2037051128/p/2/e/6/t/1/50045958116.mp4"  width="272" height="480" controls="controls" autoplay="autoplay">
                Your browser does not support the video tag.
            </video>
            <video src="https://cloud.video.taobao.com/play/u/2037051128/p/2/e/6/t/1/50045928994.mp4"  width="272" height="480" controls="controls">
                Your browser does not support the video tag.
            </video>
            <video src="https://cloud.video.taobao.com/play/u/2037051128/p/2/e/6/t/1/50045934944.mp4"  width="272" height="480" controls="controls">
                Your browser does not support the video tag.
            </video>
            <video src="https://cloud.video.taobao.com/play/u/2037051128/p/2/e/6/t/1/50045942915.mp4"  width="272" height="480" controls="controls">
                Your browser does not support the video tag.
            </video>
            <video src="https://cloud.video.taobao.com/play/u/2037051128/p/2/e/6/t/1/50045954225.mp4"  width="272" height="480" controls="controls">
                Your browser does not support the video tag.
            </video>
            <video src="https://cloud.video.taobao.com/play/u/2037051128/p/2/e/6/t/1/50045932988.mp4"  width="272" height="480" controls="controls">
                Your browser does not support the video tag.
            </video>
            <video src="https://cloud.video.taobao.com/play/u/2037051128/p/2/e/6/t/1/50045938914.mp4"  width="272" height="480" controls="controls">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-lg-12">
            <img src="/static/ad/20171118/01.jpg" width="100%" alt="..." class="img-rounded" /><br /> <br />
            <img src="/static/ad/20171118/02.jpg" width="100%" alt="..." class="img-rounded" /><br /> <br />
            <img src="/static/ad/20171118/03.jpg" width="100%" alt="..." class="img-rounded" /><br /> <br />
            <img src="/static/ad/20171118/04.jpg" width="100%" alt="..." class="img-rounded" /><br /> <br />
            <img src="/static/ad/20171118/05.jpg" width="100%" alt="..." class="img-rounded" /><br /> <br />
            <img src="/static/ad/20171118/06.jpg" width="100%" alt="..." class="img-rounded" /><br /> <br />
            <img src="/static/ad/20171118/07.jpg" width="100%" alt="..." class="img-rounded" /><br /> <br />
            <img src="/static/ad/20171118/08.jpg" width="100%" alt="..." class="img-rounded" /><br /> <br />
            <p>本公司常年研发和销售地摊热门火爆产品，每个项目都是经过试地销售成功之后推出。小本创业回报快、高端项目收入高。总有一个适合你的创业项目 敬请关注！</p>
        </div>
    </div>
</div>