{layout name="ad_layout" /}
{__NOLAYOUT__}
<style>
    h2 {
        color: red;
        text-align: center;
        font-weight: bold;
        font-family: "黑体";
        font-size: 36px;
    }
</style>
<div class="container">
    <div class="page-header">
        <h1>棉里爱</h1>
        <p class="lead">一个连锁地摊品牌中的王牌</p>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>精美的包装，可以扫描的二维码。</h2>
            <img src="/static/ad/20171119/01.jpg" width="100%" alt="..." class="img-rounded"/><br/> <br/>
            <img src="/static/ad/20171119/02.jpg" width="100%" alt="..." class="img-rounded"/><br/> <br/>
            <img src="/static/ad/20171119/03.jpg" width="100%" alt="..." class="img-rounded"/><br/> <br/>
            <p>
                打工不如创业，李嘉诚曾经说过打工是最愚蠢的投资。很多人会认为打工并不是投资，我就强烈反对这种观念。其实打工才是最大最愚蠢的投资，人生最宝贵的是什么？时间就是金钱这话一点没有错！很多人想把握机会，要做一件事情时，但往往给自己找了很多理由让自己一直处于矛盾之中，不断浪费时间，虚度时光。</p>
            <img src="/static/ad/20171119/04.jpg" width="100%" alt="..." class="img-rounded"/><br/> <br/>
            <img src="/static/ad/20171119/05.jpg" width="100%" alt="..." class="img-rounded"/><br/> <br/>
            <img src="/static/ad/20171119/06.jpg" width="100%" alt="..." class="img-rounded"/><br/> <br/>
            <img src="/static/ad/20171119/07.jpg" width="100%" alt="..." class="img-rounded"/><br/> <br/>
            <h2>宁做创业狼 不做打工狗</h2>
            <p>没有口才不要紧我们会送上录音广告布，你只需要站着收钱就可以了。从产品包装到设计都实现了统一化。每一双袜子都是全棉的质量，卖货现场可以经得起火烧检验。视频（现场火烧棉里爱）</p>
            <video src="https://cloud.video.taobao.com/play/u/2037051128/p/2/e/6/t/1/50045990181.mp4" controls="controls" autoplay="autoplay"></video>
            <h2>摆小摊成就大事业</h2>
            <p>最关键的点，还是要看你把摊位摆在哪里？<br>
                不同的地点选择，就会有不同的销售额！</p>
            <h2>客户摆摊实地销售视频</h2>
            <div style="text-align: center;">
                <video src="https://cloud.video.taobao.com/play/u/2037051128/p/2/e/6/t/1/50045966422.mp4"  width="1000" height="580" controls="controls" autoplay="autoplay">
                    Your browser does not support the video tag.
                </video>
                <br>
                <video src="https://cloud.video.taobao.com/play/u/2037051128/p/2/e/6/t/1/50045954252.mp4"  width="272" height="480" controls="controls">
                    Your browser does not support the video tag.
                </video>
                <video src="https://cloud.video.taobao.com/play/u/2037051128/p/2/e/6/t/1/50045968405.mp4"  width="272" height="480" controls="controls">
                    Your browser does not support the video tag.
                </video>
                <video src="https://cloud.video.taobao.com/play/u/2037051128/p/2/e/6/t/1/50045976341.mp4"  width="272" height="480" controls="controls">
                    Your browser does not support the video tag.
                </video>
            </div>
            <p>通常摆摊的地方有早市、夜市如果你一天早市、夜市干2场一天赚个500块钱没有太大的问题。</p>
            <p>小本创业摊子规模小、流动性强有很多可以摆摊的地方不局限于早市夜市。下面我就给大家解锁几个摆摊的地点。保证，绝对会火！</p>
            <h3>小区门口</h3>
            <p>一般人会感觉，小区门口，相对人比较少，但是，消费集中性很强，在你摆摊的当天，一般情况下，会形成抢购的局面！一天卖一千多块钱很轻松！</p>
            <h3>商铺门前</h3>
            <p>一般情况下，人家店面门前是不让摆摊的，你可以和店主商量，一天支付100块钱的租金！他会让你摆的！我保证你绝对会爆！</p>
            <h3>商业街</h3>
            <p>周末时候，很多商业街都会开放摊位租赁，费用不低，一般在每个摊位每天200－300元！但是由于人流巨大，一般情况下，每天的销售额在2000元以上！我之前在泉城路的经历就是这样！</p>
            <h3>赶会</h3>
            <p>每一次展会，比如服装展会，比如糖酒会，虽然主题和袜子没有关系，但是，实际情况的销售额非常可观，邦戴惟伙伴们反馈回来的，一天最高销售业绩是18600元，就是在郑州的一次展会上创造的！</p>
            <h3>公交站牌</h3>
            <p>在公交站牌边上摆摊，最高峰时期是在下午下班时，不要选择在早上，或者中午！一定选择五点以后！在公交站牌边上，也能卖800元左右！</p>
            <h3>大学门口</h3>
            <p>精美的包装，全棉的质量。男女老少通杀的产品，大学生当然也不例外。</p>
            <p>真正的小本投资、回报快的产品。启动资金3000元以内，货款装备全部齐全。2个2米货架 一个卖货的音响（广告录音、海报免费送），如果方便的情况下可以弄一个折叠蓬。</p>
            <p>本公司常年研发和销售各种地摊火爆产品，每个项目都会经过试地销售成功才会推出。不管你是新手创业，还是老江湖找合适自己的项目都可以关注我们。总有一个项目适合你！</p>
        </div>
    </div>
</div>