{layout name="ad_layout" /}
{__NOLAYOUT__}
<style>
    h2 {
        color: red;
        text-align: center;
        font-weight: bold;
        font-family: "黑体";
        font-size: 36px;
    }
    video {
        text-align: center;
        margin: 10px auto; display: block
    }
</style>
<div class="container">
    <div class="page-header">
        <h1>韩国超市中国店倒闭下架精品筷</h1>
        <p class="lead">年尾最火爆产品</p>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>产品模式介绍</h2>
            <p>年关将至，因韩国乐天玛特超市中国店倒闭下架百万包国产精品10双装筷子，原价都是29元39元一包的，现在通通5元2包。所有筷子都是碳化无油漆的。</p>

            <p>本公司每一个项目都是经过试地销售成功才会推出。5元2包、10元4包！</p>

            <p>此项目属于小投资撂地项目，投资小、回报快、无积压非常适合单人操作。如果是2夫妻可以摆2个摊子，一个摊子日均利润200-400之间。我们不吹牛，上来就说日利润上千。仁祥地摊商贸专业打造小成本创业模式，让每一个投资人都放心。</p>

            <img src="/static/ad/20171122/01.jpg" width="100%" alt="..." class="img-rounded"/><br/> <br/>
            <img src="/static/ad/20171122/02.jpg" width="100%" alt="..." class="img-rounded"/><br/> <br/>
            <img src="/static/ad/20171122/03.jpg" width="100%" alt="..." class="img-rounded"/><br/> <br/>
            <img src="/static/ad/20171122/04.jpg" width="100%" alt="..." class="img-rounded"/><br/> <br/>
            <img src="/static/ad/20171122/05.jpg" width="100%" alt="..." class="img-rounded"/><br/> <br/>
            <img src="/static/ad/20171122/06.jpg" width="100%" alt="..." class="img-rounded"/><br/> <br/>
            <img src="/static/ad/20171122/07.jpg" width="100%" alt="..." class="img-rounded"/><br/> <br/>
            <img src="/static/ad/20171122/08.jpg" width="100%" alt="..." class="img-rounded"/><br/> <br/>
            <img src="/static/ad/20171122/09.jpg" width="100%" alt="..." class="img-rounded"/><br/> <br/>
            <img src="/static/ad/20171122/10.jpg" width="100%" alt="..." class="img-rounded"/><br/> <br/>
            <img src="/static/ad/20171122/11.jpg" width="100%" alt="..." class="img-rounded"/><br/> <br/>
            <img src="/static/ad/20171122/12.jpg" width="100%" alt="..." class="img-rounded"/><br/> <br/>
            <img src="/static/ad/20171122/13.jpg" width="100%" alt="..." class="img-rounded"/><br/> <br/>
            <img src="/static/ad/20171122/14.jpg" width="100%" alt="..." class="img-rounded"/><br/> <br/>
            <img src="/static/ad/20171122/15.jpg" width="100%" alt="..." class="img-rounded"/><br/> <br/>
            <img src="/static/ad/20171122/16.jpg" width="100%" alt="..." class="img-rounded"/><br/> <br/>
            <img src="/static/ad/20171122/17.jpg" width="100%" alt="..." class="img-rounded"/><br/> <br/>
            <img src="/static/ad/20171122/18.jpg" width="100%" alt="..." class="img-rounded"/><br/> <br/>

            <h2>宁做创业狼 不做打工狗</h2>
            <video src="https://cloud.video.taobao.com/play/u/2037051128/p/2/e/6/t/1/50048314743.mp4" width="704" height="396" controls="controls" autoplay="autoplay" style=""></video>
            <br>
            <video src="https://cloud.video.taobao.com/play/u/2037051128/p/2/e/6/t/1/50048334618.mp4" width="704" height="396" controls="controls"></video>
            <br>
            <video src="https://cloud.video.taobao.com/play/u/2037051128/p/2/e/6/t/1/50048328621.mp4" width="704" height="396" controls="controls"></video>
            <br>
            <video src="https://cloud.video.taobao.com/play/u/2037051128/p/2/e/6/t/1/50048332646.mp4" controls="controls"></video>
            <video src="https://cloud.video.taobao.com/play/u/2037051128/p/2/e/6/t/1/50048318732.mp4" controls="controls"></video>

            <p>真正的小本投资、回报快的产品。启动资金1500元以内，货款装备全部齐全。 只需要一个卖货的音响（广告录音、海报免费送）。</p>

            <p>本公司常年研发和销售各种地摊火爆产品，每个项目都会经过试地销售成功才会推出。不管你是新手创业，还是老江湖找合适自己的项目都可以关注我们。总有一个项目适合你！</p>
        </div>
    </div>
</div>