<fieldset class="layui-elem-field layui-field-title">
    <legend>关于我们</legend>
</fieldset>
<form class="layui-form layui-form-pane1" action="">
    <div class="layui-form-item">
        <!-- 加载编辑器的容器 -->
        <script id="container" name="content" type="text/plain"></script>
    </div>
    <div class="layui-form-item">
        <button type="submit" class="layui-btn" lay-submit lay-filter="*">立即提交</button>
    </div>
</form>
<script src="/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/ueditor/ueditor.all.js"></script>
<script>
    var ue = UE.getEditor('container', {
//        initialFrameWidth : 1000,
        initialFrameHeight : 300,
        autoHeightEnabled : true,
        zIndex : 999999,
    });
</script>
