<style>
    h4 {
        text-align: center;
    }
</style>
<footer class="footer ">
    <div class="container">
        <div class="row footer-top">
            <div class="col-sm-12 col-lg-12" style="text-align: center">
                <h4>微信</h4>
                <img src="/static/home/img/wechat.jpg"><br>
                <p>微信扫描我的二维码，添加我为微信好友！</p>
                <p style="color: red;">抢货热线：150 5791 1556</p>
            </div>
        </div>
        <hr>
        <div class="row footer-bottom">
            <p class="list-inline text-center">
                &copy; 版权所有 | <a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备17025790号-2</a>
            </p>
        </div>
    </div>
</footer>
<div style="display: none"><script language="javascript" type="text/javascript" src="//js.users.51.la/19343990.js"></script></div>