<div class="jumbotron masthead">
    <div class="container">
        <h1 class="site_h1">地摊项目网</h1>
        <h2>精选各类地摊创业项目的网站。</h2>
        <p class="masthead-button-links" style="color: #333">
            <a class="btn btn-lg btn-primary btn-shadow" href="javascript:void(0);" data-toggle="popover" data-placement="bottom" title="联系我们" data-content="微信：18867569227">关注微信订阅号</a>
        </p>
        <!--<ul class="masthead-links">
            <li>
                <a href="#"></a>
            </li>
        </ul>-->
    </div>
</div>