<footer class="footer ">
    <div class="container">
        <div class="row footer-top">
            <div class="col-sm-6 col-lg-8">
                <h4>
                    <img src="/static/home/img/logo.png">
                </h4>
                <p>本网站的地摊项目，均由站长整理并发布。</p>
            </div>
            <div class="col-sm-6  col-lg-3 col-lg-offset-1">
                <div class="row about">
                    <div class="col-xs-6">
                        <h4>关于</h4>
                        <ul class="list-unstyled">
                            <li><a href="/about/">关于我们</a></li>
                            <li><a href="javascript: void(0);" data-toggle="popover" title="联系我们" data-content="QQ：705679336">合作</a></li>
                            <li><a href="/hr/">招聘</a></li>
                            <li><a href="/index/ads">广告</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <h4>联系方式</h4>
                        <ul class="list-unstyled">
                            <li><a href="javascript: void(0);" data-toggle="popover" data-placement="top" title="联系我们" data-content="QQ：705679336">QQ</a></li>
                            <li><a href="javascript: void(0);" data-toggle="popover" data-placement="top" title="联系我们" data-content="电子邮件：705679336@qq.com">电子邮件</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <hr>
        <div class="row footer-bottom">
            <p class="list-inline text-center">
                &copy; 版权所有 | <a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备17025790号-2</a>
            </p>
        </div>
    </div>
</footer>
<div style="display: none"><script language="javascript" type="text/javascript" src="//js.users.51.la/19343990.js"></script></div>