<!--<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">订阅手机号，领现金券</h3>
    </div>
    <div class="panel-body">
        <div style="text-align: center;">
            <form class="form-inline">
                <div class="form-group">
                    <label for="tel">手机号：</label>
                    <input type="text" class="form-control" id="tel" placeholder="填写手机号">
                </div>
                <button type="submit" class="btn btn-primary">抢5元现金券</button>
            </form>
            <br>
            <p>活动规则：无论您何时订货，只要您填写您的手机号，订货时凭借手机号，立马减免5元现金。每天名额有限，还剩 <strong style="color: red">10</strong> 个。(每人限领1个)</p>
        </div>
    </div>
</div>-->

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">最新热门项目</h3>
    </div>
    <div class="panel-body">
        以下是地摊项目网 ditanxiangmu.com 推荐的热门项目！欢迎联系我，150 5791 1556 (加微信/电话)
    </div>
    <ul class="list-group">
        {volist name="hot" id="vo"}
        <li class="list-group-item"><a href="{:url('Index/index/detail', ['id' => $vo['g_id']])}">{$vo->goods_name}</a></li>
        {/volist}
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">关注我们</h3>
    </div>
    <div class="panel-body">
        <div style="text-align: center;">
            <img src="/static/home/img/wechat.jpg" width="80%" class="thumbnail" alt="微信二维码" style="margin: 0 auto;"><br>
            <p>微信扫描二维码，添加我为好友！</p>
        </div>
    </div>
</div>

